<!DOCTYPE html>
<html>
<head>
    <title>Backdrop URL Shortener Service</title>
</head>
<body>

  <!- For printing variable these
      tags are used: <%= %>  -->
  <h1> <%= title %> </h1>
  <h2><%= url %></h2>

  <!- For business logic these
      tags are used: <% %> -->
  <% if(true){ %>
      <h4>Greetings</h4>
  <% } %>
</body>
</html>